<div class="left-sidebar">
	<h2>Các loại đồ uống </h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
			
		<vc:categories></vc:categories>
		
		
	</div>
	<h2>Nhãn hiệu</h2>
	<div class="panel-group category-products" id="accordian">		
		<vc:brands></vc:brands>


	</div>
</div>